html {
  font-family: Ubuntu,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  word-spacing: 0;
}

body {
  margin: 0;
}

pre, code, kbd, tt, select, input, textarea {
  font-family: "Ubuntu Mono",Inconsolata,Consolas,monospace;
}

pre {
  box-shadow: 1px 1px 4px -3px rgba(0,0,0,0.4) inset;
  border: 1px inset rgba(180,180,180,0.5);
  border-radius: 8px;
  padding: 0.5em 0.7em;
  background: #eee;
  width: fit-content;
}

code {
  box-shadow: 0 1px 7px 1px #fff inset;
  border-radius: 8px;
  background: #ececec;
}

pre code {
  border-bottom: none;
  box-shadow: none;
}

h1 {
  color:#111;

  border-image: linear-gradient(to right, rgba(22,22,22,1) 0%,rgba(17,17,17,0.72) 53%, rgba(11,11,11,0.47) 62%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%) 1;
  border-width: 1px;
  border-style: solid;

  border-left: 0;
  border-right: 0;

  padding: 0.5rem 1rem;

  background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(242,242,242,0.74) 50%,rgba(242,242,242,0.41) 71%,rgba(242,242,242,0) 84%,rgba(242,242,242,0) 100%);
}

h1:first-top {
  margin-top:0.5rem;
}

h1 + pre, h1 + p {
  margin-top: 1rem;
}

h1 + h2 {
  margin-top: 0.4rem;
}

h2 {
  margin-top: 1.6rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  padding-bottom: 1px;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.4rem;
}

h2, h3, h4, h5, h6 {
  margin-left: 2rem;
}

h5 {
  margin-bottom: 0;
  padding-left: 5px;
}

h3, h4, h6 {
  margin-bottom: 0;
  padding: 0;
}

p, pre, table {
  margin: 0 2rem 1rem;
}

ol, ul, dl {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 2rem;
}

li {
  padding-left: 0;
}

li + li {
  margin-top: 1rem;
}

li > p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 2rem;
  padding: 0;
}

li > p:first-child {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0.1rem;
  border-bottom: 1px #777 dashed;
  padding-bottom: 2px
}

dd + dt {
  margin-top: 1rem;
}

dt {
  margin-left: 1rem;
  font-weight: bold;
}

dt::before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

dd {
  margin-top: 0.4rem;
  margin-left: 1rem;
  box-shadow: 1px 1px 4px -3px rgba(0,0,0,0.4) inset;
  border: 1px inset rgba(180,180,180,0.5);
  border-radius: 8px;
  padding: 0.5em 0.7em;
  background: #eee;
  width: fit-content;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


li > h2 {
  margin: 0;
}

p {
  color: #222;
}


#TOC {
  float: right;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em;
  background: #f2f2f2;
  border-bottom: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-bottom-left-radius: 12px;
}

#TOC ul {
  padding: 0;
  margin: 0;
}

#TOC li {
  margin-top: 0.2rem;
}

#TOC li > ul {
  margin-left: 1em;
}

.level1 > h1 {
  margin-top: 3rem;
}

.level2 > h2 {
  width: fit-content;
  border-bottom-width: 2px;
}

section p {
  max-width: 650px;
}

#screenshots h3 {
  background: #e0e0e0;
  padding: 2px 6px;
  width: fit-content;
  margin-left: 3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-left:  1px outset #dedede;
  border-top:   1px outset #dedede;
  border-right: 1px outset #dedede;
}
